* {
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
}

html body #home-rocketflix,
html body #descubra-esse-filme {
    /* background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%); */
    background: linear-gradient(43deg, #37393e 0%, #000 52%, #666 100%);
    display: block;
}

#descubra-esse-filme .container {
    min-height: 100vh;
}

.title {
    color: #fff;
    font-weight: 700;
}

.resume {
    color: #fff;
    width: 50%;
    text-align: center;
}

.preloader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%); */
    background: linear-gradient(43deg, #37393e 0%, #000 52%, #666 100%);

}

.preloader.active {
    display: flex;
}

.preloader:not(.active) {
    display: none !important;
}

.cover-movie {
    width: 100%;
    border: 2px solid #fff;
}

.title-movie {
    font-style: Bold;
    font-size: 35px;
    line-height: 30px;
    color: #fff;
}

.resume-movie {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: justify;
}

.genres-area {
    gap: 12px;
}

.genres-area span {
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 12px;
    transition: all 0.3s ease-in;
}

.genres-area span:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
}


.layout-movie {
    width: 100%;
}

.image-area {
    width: 25%;
}

/* .info-area {
    width: calc(50% - 3rem);
} */

.info-area {
    width: calc(75% - 1.5rem);
}

.plataforms-avaible {
    color: #fff;
    font-weight: 600;
}

.providers-component div{
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.providers-component p {
    text-align: center;
}

.providers-component div img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

.release-date-mock {
    color: #fff;
    font-weight: 600;
}


.providers-component {
    width: 25%;
}